<div class="container">
  <div class="service">
    <div class="title">
      <h1>React</h1>
      <p>Feel free to check out our website</p>
      <p>Our customers satisfaction is our concern</p>
    </div>
  </div>
  <div class="service">
    <div class="title">
      <h1>Angular</h1>
      <p>Feel free to check out our website</p>
      <p>Our customers satisfaction is our concern</p>
    </div>
  </div>
  <div class="service">
    <div class="title">
      <h1>Node JS</h1>
      <p>Feel free to check out our website</p>
      <p>Our customers satisfaction is our concern</p>
    </div>
  </div>
</div>

